<div class="jumbotron">
	<h1>About us</h1>
	<p>This project is about creating anything. I started learning how to make websites a few weeks ago and it is getting pretty fun. I am starting to realize that you can make a whole bunch of things with a little bit of knowledge. The proble is I dont really know what to make! So I am currently finding something to work on. Yolo RIGHT? </p>
</div>