
<div class="jumbotron center">
	<h1>Welcome to Create Zone!</h1>
		<p><%= link_to "Log in", "#", class: "btn btn-default btn-lg" %><%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %> </p>
</div>
